In [1]:
import geopandas as gpd
import pandas as pd
import glob, os

In [2]:
sf = gpd.read_file('./vnm_adm_gov_20201027/vnm_admbnda_adm1_gov_20201027.shp')
print(sf.crs) # Check EPSG / CRS -- epsg:4326 = WGS 84

epsg:4326

In [3]:
sf.columns = [x.lower() for x in sf.columns] # lower case col names
print(sf.dtypes)

# Check geometries
print(len(sf))
sf.geometry.type.value_counts()

sf.head()

shape_leng     float64
shape_area     float64
adm1_en         object
adm1_vi         object
adm1_pcode      object
adm1_ref       float64
adm1alt1en     float64
adm1alt2en     float64
adm1alt1vi     float64
adm1alt2vi     float64
adm0_en         object
adm0_vi         object
adm0_pcode      object
date            object
validon         object
validto        float64
geometry      geometry
dtype: object
63

,shape_leng,shape_area,adm1_en,adm1_vi,adm1_pcode,adm1_ref,adm1alt1en,adm1alt2en,adm1alt1vi,adm1alt2vi,adm0_en,adm0_vi,adm0_pcode,date,validon,validto,geometry
0,2.900742,0.292040,An Giang,An Giang,VN805,NaN,NaN,NaN,NaN,NaN,Viet Nam,Việt Nam,VN,2019-10-01,2020-01-03,NaN,"POLYGON ((105.11716 10.95483, 105.11732 10.951..."
1,3.419187,0.163033,Ba Ria - Vung Tau,Bà Rịa - Vũng Tàu,VN717,NaN,NaN,NaN,NaN,NaN,Viet Nam,Việt Nam,VN,2019-10-01,2020-01-03,NaN,"MULTIPOLYGON (((106.55742 8.62810, 106.55723 8..."
2,4.514786,0.338748,Bac Giang,Bắc Giang,VN221,NaN,NaN,NaN,NaN,NaN,Viet Nam,Việt Nam,VN,2019-10-01,2020-01-03,NaN,"POLYGON ((106.16302 21.62403, 106.16382 21.623..."
3,4.207590,0.425598,Bac Kan,Bắc Kạn,VN207,NaN,NaN,NaN,NaN,NaN,Viet Nam,Việt Nam,VN,2019-10-01,2020-01-03,NaN,"POLYGON ((105.74147 22.73941, 105.74476 22.737..."
4,2.879202,0.204050,Bac Lieu,Bạc Liêu,VN821,NaN,NaN,NaN,NaN,NaN,Viet Nam,Việt Nam,VN,2019-10-01,2020-01-03,NaN,"POLYGON ((105.29893 9.62913, 105.29970 9.62913..."

In [4]:
viet_provinces = sf[['adm1_en', 'adm1_vi','shape_leng','shape_area','geometry']]

In [5]:
import rioxarray as rxr
import earthpy as et

In [6]:
NO2_2022_dir = './2022/GIOVANNI-g4.timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.tif'
NO2_2023_dir = './2023/GIOVANNI-g4.timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.tif'
SO2_2022_dir = './2022/GIOVANNI-g4.timeAvgMap.OMSO2e_003_ColumnAmountSO2.20220101-20221231.101E_7N_110E_24N.tif'
SO2_2023_dir = './2023/GIOVANNI-g4.timeAvgMap.OMSO2e_003_ColumnAmountSO2.20230101-20231231.101E_7N_110E_24N.tif'

In [7]:
# View generate metadata associated with the raster file
NO2_2022 = rxr.open_rasterio(NO2_2022_dir,
                                 masked=True)
print("The bounds of your data are:", NO2_2022.rio.bounds())
print("The crs of your data is:", NO2_2022.rio.crs)
print("The shape of your data is:", NO2_2022.shape)
print("The spatial resolution for your data is:", NO2_2022.rio.resolution())
print("The metadata for your data is:", NO2_2022.attrs)

The bounds of your data are: (102.0, 8.0, 110.25, 24.25)
The crs of your data is: EPSG:4326
The shape of your data is: (1, 65, 33)
The spatial resolution for your data is: (0.25, -0.25)
The metadata for your data is: {'AREA_OR_POINT': 'Area', 'lat#bounds': 'lat_bnds', 'lat#standard_name': 'latitude', 'lat#units': 'degrees_north', 'lon#bounds': 'lon_bnds', 'lon#standard_name': 'longitude', 'lon#units': 'degrees_east', 'Conventions': 'CF-1.4', 'end_time': '2022-12-31T23:59:59Z', 'history': 'Thu Feb  1 20:56:13 2024: ncap2 -O -S /var/giovanni/session/TEMP/linearUnitsConversion_ScHI.ncap2 /var/giovanni/session/61532D68-C118-11EE-933D-C0634644E724/49C685BA-C144-11EE-B634-941D5E44E724/49C93ECC-C144-11EE-B634-941D5E44E724/timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.nc /var/giovanni/session/61532D68-C118-11EE-933D-C0634644E724/49C685BA-C144-11EE-B634-941D5E44E724/49C93ECC-C144-11EE-B634-941D5E44E724/g4.timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.nc\nThu Feb  1 20:56:12 2024: ncks -O -x -v time_bnds timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.nc timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.nc\nThu Feb  1 20:56:12 2024: ncatted -a valid_range,,d,, -O -o timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.nc timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.nc\nThu Feb  1 20:56:12 2024: ncatted -O -a title,global,o,c,OMNO2d_003_ColumnAmountNO2CloudScreened Averaged over 2022-01-01 to 2022-12-31 timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.nc\nThu Feb  1 20:56:12 2024: ncks -x -v time -o timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.nc -O timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.nc\nThu Feb  1 20:56:12 2024: ncwa -o timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.nc -a time -O timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.nc\nThu Feb  1 20:55:58 2024: ncra -D 2 -H -O -o timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20220101-20221231.101E_7N_110E_24N.nc -d lat,7.910200,24.169900 -d lon,101.997100,110.170900', 'NCO': 'netCDF Operators version 5.0.6 (Homepage = http://nco.sf.net, Code = http://github.com/nco/nco)', 'plot_hint_subtitle': 'over 2022-01-01 - 2022-12-31, Region 101.9971E, 7.9102N, 110.1709E, 24.1699N', 'plot_hint_title': 'Time Averaged Map of NO2 Total Column (30% Cloud Screened) daily 0.25 deg. [OMI OMNO2d v003] DU', 'start_time': '2022-01-01T00:00:00Z', 'title': 'NO2 vertical column density, screened for CloudFraction < 30%', 'userenddate': '2022-12-31T23:59:59Z', 'userstartdate': '2022-01-01T00:00:00Z', 'cell_methods': 'time: mean', 'coordinates': 'lat lon', 'Description': 'Field=ColumnAmountNO2,StdField=ColumnAmountNO2Std,SolarZenithAngle=[0:85],CloudFraction=[0:300],VcdQualityFlags=~19,XTrackQualityFlags=~[1:254],TerrainReflectivity=[0:1000]', 'fullnamepath': '/HDFEOS/GRIDS/ColumnAmountNO2/Data Fields/ColumnAmountNO2CloudScreened', 'latitude_resolution': 0.25, 'longitude_resolution': 0.25, 'long_name': 'NO2 Total Column (30% Cloud Screened)', 'origname': 'ColumnAmountNO2CloudScreened', 'orig_dimname_list': 'YDim XDim', 'product_short_name': 'OMNO2d', 'product_version': 3, 'quantity_type': 'NO2', 'standard_name': 'columnamountno2cloudscreened', 'units': 'DU', 'scale_factor': 1.0, 'add_offset': 0.0}

In [8]:
# View generate metadata associated with the raster file
NO2_2023 = rxr.open_rasterio(NO2_2023_dir,
                                 masked=True)
print("The bounds of your data are:", NO2_2023.rio.bounds())
print("The crs of your data is:", NO2_2023.rio.crs)
print("The shape of your data is:", NO2_2023.shape)
print("The spatial resolution for your data is:", NO2_2023.rio.resolution())
print("The metadata for your data is:", NO2_2023.attrs)

The bounds of your data are: (102.0, 8.0, 110.25, 24.25)
The crs of your data is: EPSG:4326
The shape of your data is: (1, 65, 33)
The spatial resolution for your data is: (0.25, -0.25)
The metadata for your data is: {'AREA_OR_POINT': 'Area', 'lat#bounds': 'lat_bnds', 'lat#standard_name': 'latitude', 'lat#units': 'degrees_north', 'lon#bounds': 'lon_bnds', 'lon#standard_name': 'longitude', 'lon#units': 'degrees_east', 'Conventions': 'CF-1.4', 'end_time': '2023-12-31T23:59:59Z', 'history': 'Thu Feb  1 20:58:54 2024: ncap2 -O -S /var/giovanni/session/TEMP/linearUnitsConversion_zBK7.ncap2 /var/giovanni/session/61532D68-C118-11EE-933D-C0634644E724/AA01B7CE-C144-11EE-8301-9C445E44E724/AA01C566-C144-11EE-8301-9C445E44E724/timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.nc /var/giovanni/session/61532D68-C118-11EE-933D-C0634644E724/AA01B7CE-C144-11EE-8301-9C445E44E724/AA01C566-C144-11EE-8301-9C445E44E724/g4.timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.nc\nThu Feb  1 20:58:53 2024: ncks -O -x -v time_bnds timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.nc timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.nc\nThu Feb  1 20:58:53 2024: ncatted -a valid_range,,d,, -O -o timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.nc timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.nc\nThu Feb  1 20:58:53 2024: ncatted -O -a title,global,o,c,OMNO2d_003_ColumnAmountNO2CloudScreened Averaged over 2023-01-01 to 2023-12-31 timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.nc\nThu Feb  1 20:58:53 2024: ncks -x -v time -o timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.nc -O timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.nc\nThu Feb  1 20:58:53 2024: ncwa -o timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.nc -a time -O timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.nc\nThu Feb  1 20:58:39 2024: ncra -D 2 -H -O -o timeAvgMap.OMNO2d_003_ColumnAmountNO2CloudScreened.20230101-20231231.101E_7N_110E_24N.nc -d lat,7.910200,24.169900 -d lon,101.997100,110.170900', 'NCO': 'netCDF Operators version 5.0.6 (Homepage = http://nco.sf.net, Code = http://github.com/nco/nco)', 'plot_hint_subtitle': 'over 2023-01-01 - 2023-12-31, Region 101.9971E, 7.9102N, 110.1709E, 24.1699N', 'plot_hint_title': 'Time Averaged Map of NO2 Total Column (30% Cloud Screened) daily 0.25 deg. [OMI OMNO2d v003] DU', 'start_time': '2023-01-01T00:00:00Z', 'title': 'NO2 vertical column density, screened for CloudFraction < 30%', 'userenddate': '2023-12-31T23:59:59Z', 'userstartdate': '2023-01-01T00:00:00Z', 'cell_methods': 'time: mean', 'coordinates': 'lat lon', 'Description': 'Field=ColumnAmountNO2,StdField=ColumnAmountNO2Std,SolarZenithAngle=[0:85],CloudFraction=[0:300],VcdQualityFlags=~19,XTrackQualityFlags=~[1:254],TerrainReflectivity=[0:1000]', 'fullnamepath': '/HDFEOS/GRIDS/ColumnAmountNO2/Data Fields/ColumnAmountNO2CloudScreened', 'latitude_resolution': 0.25, 'longitude_resolution': 0.25, 'long_name': 'NO2 Total Column (30% Cloud Screened)', 'origname': 'ColumnAmountNO2CloudScreened', 'orig_dimname_list': 'YDim XDim', 'product_short_name': 'OMNO2d', 'product_version': 3, 'quantity_type': 'NO2', 'standard_name': 'columnamountno2cloudscreened', 'units': 'DU', 'scale_factor': 1.0, 'add_offset': 0.0}

In [9]:
# View generate metadata associated with the raster file
SO2_2022 = rxr.open_rasterio(SO2_2022_dir,
                                 masked=True)
print("The bounds of your data are:", SO2_2022.rio.bounds())
print("The crs of your data is:", SO2_2022.rio.crs)
print("The shape of your data is:", SO2_2022.shape)
print("The spatial resolution for your data is:", SO2_2022.rio.resolution())
print("The metadata for your data is:", SO2_2022.attrs)

The bounds of your data are: (101.99999237060547, 8.0, 110.24999237060547, 24.25)
The crs of your data is: EPSG:4326
The shape of your data is: (1, 65, 33)
The spatial resolution for your data is: (0.25, -0.25)
The metadata for your data is: {'AREA_OR_POINT': 'Area', 'lat#bounds': 'lat_bnds', 'lat#standard_name': 'latitude', 'lat#units': 'degrees_north', 'lon#bounds': 'lon_bnds', 'lon#standard_name': 'longitude', 'lon#units': 'degrees_east', 'Conventions': 'CF-1.4', 'end_time': '2022-12-31T23:59:59Z', 'history': 'Thu Feb  1 20:56:21 2024: ncks -O -x -v time_bnds timeAvgMap.OMSO2e_003_ColumnAmountSO2.20220101-20221231.101E_7N_110E_24N.nc timeAvgMap.OMSO2e_003_ColumnAmountSO2.20220101-20221231.101E_7N_110E_24N.nc\nThu Feb  1 20:56:21 2024: ncatted -a valid_range,,d,, -O -o timeAvgMap.OMSO2e_003_ColumnAmountSO2.20220101-20221231.101E_7N_110E_24N.nc timeAvgMap.OMSO2e_003_ColumnAmountSO2.20220101-20221231.101E_7N_110E_24N.nc\nThu Feb  1 20:56:20 2024: ncatted -O -a title,global,o,c,OMSO2e_003_ColumnAmountSO2 Averaged over 2022-01-01 to 2022-12-31 timeAvgMap.OMSO2e_003_ColumnAmountSO2.20220101-20221231.101E_7N_110E_24N.nc\nThu Feb  1 20:56:20 2024: ncks -x -v time -o timeAvgMap.OMSO2e_003_ColumnAmountSO2.20220101-20221231.101E_7N_110E_24N.nc -O timeAvgMap.OMSO2e_003_ColumnAmountSO2.20220101-20221231.101E_7N_110E_24N.nc\nThu Feb  1 20:56:20 2024: ncwa -o timeAvgMap.OMSO2e_003_ColumnAmountSO2.20220101-20221231.101E_7N_110E_24N.nc -a time -O timeAvgMap.OMSO2e_003_ColumnAmountSO2.20220101-20221231.101E_7N_110E_24N.nc\nThu Feb  1 20:55:58 2024: ncra -D 2 -H -O -o timeAvgMap.OMSO2e_003_ColumnAmountSO2.20220101-20221231.101E_7N_110E_24N.nc -d lat,7.910200,24.169900 -d lon,101.997100,110.170900', 'NCO': 'netCDF Operators version 5.0.6 (Homepage = http://nco.sf.net, Code = http://github.com/nco/nco)', 'plot_hint_subtitle': 'over 2022-01-01 - 2022-12-31, Region 101.9971E, 7.9102N, 110.1709E, 24.1699N', 'plot_hint_title': 'Time Averaged Map of SO2 Column Amount daily 0.25 deg. [OMI OMSO2e v003] DU', 'start_time': '2022-01-01T00:00:00Z', 'title': 'Vertical Column Amount SO2 (GEOS-5 Profile)', 'userenddate': '2022-12-31T23:59:59Z', 'userstartdate': '2022-01-01T00:00:00Z', 'cell_methods': 'time: mean', 'coordinates': 'lat lon', 'fullnamepath': '/HDFEOS/GRIDS/OMI Total Column Amount SO2/Data Fields/ColumnAmountSO2', 'latitude_resolution': 0.25, 'longitude_resolution': 0.250031, 'long_name': 'SO2 Column Amount', 'origname': 'ColumnAmountSO2', 'orig_dimname_list': 'YDim XDim', 'product_short_name': 'OMSO2e', 'product_version': 3, 'quantity_type': 'SO2', 'standard_name': 'columnamountso2', 'units': 'DU', 'scale_factor': 1.0, 'add_offset': 0.0}

In [10]:
# View generate metadata associated with the raster file
SO2_2023 = rxr.open_rasterio(SO2_2023_dir,
                                 masked=True)
print("The bounds of your data are:", SO2_2023.rio.bounds())
print("The crs of your data is:", SO2_2023.rio.crs)
print("The shape of your data is:", SO2_2023.shape)
print("The spatial resolution for your data is:", SO2_2023.rio.resolution())
print("The metadata for your data is:", SO2_2023.attrs)

The bounds of your data are: (101.99999237060547, 8.0, 110.24999237060547, 24.25)
The crs of your data is: EPSG:4326
The shape of your data is: (1, 65, 33)
The spatial resolution for your data is: (0.25, -0.25)
The metadata for your data is: {'AREA_OR_POINT': 'Area', 'lat#bounds': 'lat_bnds', 'lat#standard_name': 'latitude', 'lat#units': 'degrees_north', 'lon#bounds': 'lon_bnds', 'lon#standard_name': 'longitude', 'lon#units': 'degrees_east', 'Conventions': 'CF-1.4', 'end_time': '2023-12-31T23:59:59Z', 'history': 'Thu Feb  1 20:58:56 2024: ncks -O -x -v time_bnds timeAvgMap.OMSO2e_003_ColumnAmountSO2.20230101-20231231.101E_7N_110E_24N.nc timeAvgMap.OMSO2e_003_ColumnAmountSO2.20230101-20231231.101E_7N_110E_24N.nc\nThu Feb  1 20:58:56 2024: ncatted -a valid_range,,d,, -O -o timeAvgMap.OMSO2e_003_ColumnAmountSO2.20230101-20231231.101E_7N_110E_24N.nc timeAvgMap.OMSO2e_003_ColumnAmountSO2.20230101-20231231.101E_7N_110E_24N.nc\nThu Feb  1 20:58:55 2024: ncatted -O -a title,global,o,c,OMSO2e_003_ColumnAmountSO2 Averaged over 2023-01-01 to 2023-12-31 timeAvgMap.OMSO2e_003_ColumnAmountSO2.20230101-20231231.101E_7N_110E_24N.nc\nThu Feb  1 20:58:55 2024: ncks -x -v time -o timeAvgMap.OMSO2e_003_ColumnAmountSO2.20230101-20231231.101E_7N_110E_24N.nc -O timeAvgMap.OMSO2e_003_ColumnAmountSO2.20230101-20231231.101E_7N_110E_24N.nc\nThu Feb  1 20:58:55 2024: ncwa -o timeAvgMap.OMSO2e_003_ColumnAmountSO2.20230101-20231231.101E_7N_110E_24N.nc -a time -O timeAvgMap.OMSO2e_003_ColumnAmountSO2.20230101-20231231.101E_7N_110E_24N.nc\nThu Feb  1 20:58:39 2024: ncra -D 2 -H -O -o timeAvgMap.OMSO2e_003_ColumnAmountSO2.20230101-20231231.101E_7N_110E_24N.nc -d lat,7.910200,24.169900 -d lon,101.997100,110.170900', 'NCO': 'netCDF Operators version 5.0.6 (Homepage = http://nco.sf.net, Code = http://github.com/nco/nco)', 'plot_hint_subtitle': 'over 2023-01-01 - 2023-12-31, Region 101.9971E, 7.9102N, 110.1709E, 24.1699N', 'plot_hint_title': 'Time Averaged Map of SO2 Column Amount daily 0.25 deg. [OMI OMSO2e v003] DU', 'start_time': '2023-01-01T00:00:00Z', 'title': 'Vertical Column Amount SO2 (GEOS-5 Profile)', 'userenddate': '2023-12-31T23:59:59Z', 'userstartdate': '2023-01-01T00:00:00Z', 'cell_methods': 'time: mean', 'coordinates': 'lat lon', 'fullnamepath': '/HDFEOS/GRIDS/OMI Total Column Amount SO2/Data Fields/ColumnAmountSO2', 'latitude_resolution': 0.25, 'longitude_resolution': 0.250031, 'long_name': 'SO2 Column Amount', 'origname': 'ColumnAmountSO2', 'orig_dimname_list': 'YDim XDim', 'product_short_name': 'OMSO2e', 'product_version': 3, 'quantity_type': 'SO2', 'standard_name': 'columnamountso2', 'units': 'DU', 'scale_factor': 1.0, 'add_offset': 0.0}

In [11]:
import geowombat as gw

/opt/conda/envs/myenv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [12]:
with gw.config.update():
    with gw.open(NO2_2022_dir) as src:
        province_no2_22_nogroupby = src.gw.extract(viet_provinces,
                            band_names=src.band.values.tolist())
        # use pandas groupby to calc pixel mean  
        province_no2_22 = province_no2_22_nogroupby.groupby(['adm1_en'])[1].mean().reindex(viet_provinces['adm1_en']).reset_index()

In [13]:
province_no2_22_nogroupby

,id,point,geometry,adm1_en,adm1_vi,shape_leng,shape_area,1
0,0,0,POINT (105.15307 10.83622),An Giang,An Giang,2.900742,0.292040,0.119413
1,0,1,POINT (105.15307 10.58622),An Giang,An Giang,2.900742,0.292040,0.119253
2,0,2,POINT (105.15307 10.33622),An Giang,An Giang,2.900742,0.292040,0.122358
3,0,3,POINT (105.40307 10.33622),An Giang,An Giang,2.900742,0.292040,0.123727
4,1,4,POINT (107.16139 10.67891),Ba Ria - Vung Tau,Bà Rịa - Vũng Tàu,3.419187,0.163033,0.153127
...,...,...,...,...,...,...,...,...
414,62,414,POINT (104.51124 21.91687),Yen Bai,Yên Bái,5.670081,0.601690,0.127193
415,62,415,POINT (104.76124 21.91687),Yen Bai,Yên Bái,5.670081,0.601690,0.131394
416,62,416,POINT (104.26124 21.66687),Yen Bai,Yên Bái,5.670081,0.601690,0.127134
417,62,417,POINT (104.51124 21.66687),Yen Bai,Yên Bái,5.670081,0.601690,0.136702
418,62,418,POINT (104.76124 21.66687),Yen Bai,Yên Bái,5.670081,0.601690,0.136721

In [14]:
province_no2_22

              adm1_en         1
0            An Giang  0.121188
1   Ba Ria - Vung Tau  0.144766
2           Bac Giang  0.167881
3             Bac Kan  0.131750
4            Bac Lieu  0.110917
..                ...       ...
58           Tra Vinh  0.118356
59        Tuyen Quang  0.131635
60          Vinh Long  0.128645
61          Vinh Phuc  0.166977
62            Yen Bai  0.129739

[63 rows x 2 columns]

In [15]:
with gw.config.update():
    with gw.open(NO2_2023_dir) as src:
        province_no2_23_nogroupby = src.gw.extract(viet_provinces,
                            band_names=src.band.values.tolist())
        # use pandas groupby to calc pixel mean  
        province_no2_23 = province_no2_23_nogroupby.groupby(['adm1_en'])[1].mean().reindex(viet_provinces['adm1_en']).reset_index()

In [16]:
province_no2_23_nogroupby

,id,point,geometry,adm1_en,adm1_vi,shape_leng,shape_area,1
0,0,0,POINT (105.15307 10.83622),An Giang,An Giang,2.900742,0.292040,0.118245
1,0,1,POINT (105.15307 10.58622),An Giang,An Giang,2.900742,0.292040,0.118316
2,0,2,POINT (105.15307 10.33622),An Giang,An Giang,2.900742,0.292040,0.121671
3,0,3,POINT (105.40307 10.33622),An Giang,An Giang,2.900742,0.292040,0.118109
4,1,4,POINT (107.16139 10.67891),Ba Ria - Vung Tau,Bà Rịa - Vũng Tàu,3.419187,0.163033,0.141561
...,...,...,...,...,...,...,...,...
414,62,414,POINT (104.51124 21.91687),Yen Bai,Yên Bái,5.670081,0.601690,0.148303
415,62,415,POINT (104.76124 21.91687),Yen Bai,Yên Bái,5.670081,0.601690,0.149177
416,62,416,POINT (104.26124 21.66687),Yen Bai,Yên Bái,5.670081,0.601690,0.148684
417,62,417,POINT (104.51124 21.66687),Yen Bai,Yên Bái,5.670081,0.601690,0.154673
418,62,418,POINT (104.76124 21.66687),Yen Bai,Yên Bái,5.670081,0.601690,0.148826

In [17]:
province_no2_23

              adm1_en         1
0            An Giang  0.119085
1   Ba Ria - Vung Tau  0.134305
2           Bac Giang  0.183616
3             Bac Kan  0.140761
4            Bac Lieu  0.109984
..                ...       ...
58           Tra Vinh  0.112083
59        Tuyen Quang  0.142577
60          Vinh Long  0.111693
61          Vinh Phuc  0.185589
62            Yen Bai  0.146279

[63 rows x 2 columns]

In [18]:
with gw.config.update():
    with gw.open(SO2_2022_dir) as src:
        province_so2_22_nogroupby = src.gw.extract(viet_provinces,
                            band_names=src.band.values.tolist())
        # use pandas groupby to calc pixel mean  
        province_so2_22 = province_so2_22_nogroupby.groupby(['adm1_en'])[1].mean().reindex(viet_provinces['adm1_en']).reset_index()

In [19]:
province_so2_22_nogroupby

,id,point,geometry,adm1_en,adm1_vi,shape_leng,shape_area,1
0,0,0,POINT (105.15307 10.83622),An Giang,An Giang,2.900742,0.292040,0.053289
1,0,1,POINT (105.15307 10.58622),An Giang,An Giang,2.900742,0.292040,0.055231
2,0,2,POINT (105.15307 10.33622),An Giang,An Giang,2.900742,0.292040,0.085362
3,0,3,POINT (105.40307 10.33622),An Giang,An Giang,2.900742,0.292040,0.056418
4,1,4,POINT (107.16139 10.67891),Ba Ria - Vung Tau,Bà Rịa - Vũng Tàu,3.419187,0.163033,0.002889
...,...,...,...,...,...,...,...,...
414,62,414,POINT (104.51124 21.91687),Yen Bai,Yên Bái,5.670081,0.601690,0.077419
415,62,415,POINT (104.76124 21.91687),Yen Bai,Yên Bái,5.670081,0.601690,-0.056216
416,62,416,POINT (104.26124 21.66687),Yen Bai,Yên Bái,5.670081,0.601690,0.040286
417,62,417,POINT (104.51124 21.66687),Yen Bai,Yên Bái,5.670081,0.601690,-0.035455
418,62,418,POINT (104.76124 21.66687),Yen Bai,Yên Bái,5.670081,0.601690,-0.029444

In [20]:
province_so2_22

              adm1_en         1
0            An Giang  0.062575
1   Ba Ria - Vung Tau  0.018260
2           Bac Giang  0.073007
3             Bac Kan  0.022979
4            Bac Lieu  0.015181
..                ...       ...
58           Tra Vinh  0.022410
59        Tuyen Quang  0.037501
60          Vinh Long  0.008971
61          Vinh Phuc  0.071000
62            Yen Bai  0.027862

[63 rows x 2 columns]

In [21]:
with gw.config.update():
    with gw.open(SO2_2023_dir) as src:
        province_so2_23_nogroupby = src.gw.extract(viet_provinces,
                            band_names=src.band.values.tolist())
        # use pandas groupby to calc pixel mean  
        province_so2_23 = province_so2_23_nogroupby.groupby(['adm1_en'])[1].mean().reindex(viet_provinces['adm1_en']).reset_index()

In [22]:
province_so2_23_nogroupby

,id,point,geometry,adm1_en,adm1_vi,shape_leng,shape_area,1
0,0,0,POINT (105.15307 10.83622),An Giang,An Giang,2.900742,0.292040,0.003158
1,0,1,POINT (105.15307 10.58622),An Giang,An Giang,2.900742,0.292040,0.075070
2,0,2,POINT (105.15307 10.33622),An Giang,An Giang,2.900742,0.292040,0.084762
3,0,3,POINT (105.40307 10.33622),An Giang,An Giang,2.900742,0.292040,0.056610
4,1,4,POINT (107.16139 10.67891),Ba Ria - Vung Tau,Bà Rịa - Vũng Tàu,3.419187,0.163033,0.022625
...,...,...,...,...,...,...,...,...
414,62,414,POINT (104.51124 21.91687),Yen Bai,Yên Bái,5.670081,0.601690,0.131143
415,62,415,POINT (104.76124 21.91687),Yen Bai,Yên Bái,5.670081,0.601690,0.101500
416,62,416,POINT (104.26124 21.66687),Yen Bai,Yên Bái,5.670081,0.601690,-0.025526
417,62,417,POINT (104.51124 21.66687),Yen Bai,Yên Bái,5.670081,0.601690,-0.030811
418,62,418,POINT (104.76124 21.66687),Yen Bai,Yên Bái,5.670081,0.601690,0.072368

In [23]:
province_so2_23

              adm1_en         1
0            An Giang  0.054900
1   Ba Ria - Vung Tau  0.023637
2           Bac Giang  0.053418
3             Bac Kan  0.039087
4            Bac Lieu  0.015677
..                ...       ...
58           Tra Vinh  0.034002
59        Tuyen Quang  0.067558
60          Vinh Long  0.025660
61          Vinh Phuc  0.062292
62            Yen Bai  0.078715

[63 rows x 2 columns]

In [24]:
province_no2_22 = province_no2_22.rename(columns={1: 'NO2_2022'})
probince_no2_23 = province_no2_23.rename(columns={1: 'NO2_2023'})
province_so2_22 = province_so2_22.rename(columns={1: 'SO2_2022'})
province_so2_23 = province_so2_23.rename(columns={1: 'SO2_2023'})

merge1 = pd.merge(province_no2_22, probince_no2_23, on='adm1_en')
merge2 = pd.merge(merge1, province_so2_22, on='adm1_en')
merge3 = pd.merge(merge2, province_so2_23, on='adm1_en')
merge4 = pd.merge(viet_provinces, merge3, on='adm1_en')

In [25]:
merge4

,adm1_en,adm1_vi,shape_leng,shape_area,geometry,id,NO2_2022,NO2_2023,SO2_2022,SO2_2023
0,An Giang,An Giang,2.900742,0.292040,"POLYGON ((105.11716 10.95483, 105.11732 10.951...",0,0.121188,0.119085,0.062575,0.054900
1,Ba Ria - Vung Tau,Bà Rịa - Vũng Tàu,3.419187,0.163033,"MULTIPOLYGON (((106.55742 8.62810, 106.55723 8...",1,0.144766,0.134305,0.018260,0.023637
2,Bac Giang,Bắc Giang,4.514786,0.338748,"POLYGON ((106.16302 21.62403, 106.16382 21.623...",2,0.167881,0.183616,0.073007,0.053418
3,Bac Kan,Bắc Kạn,4.207590,0.425598,"POLYGON ((105.74147 22.73941, 105.74476 22.737...",3,0.131750,0.140761,0.022979,0.039087
4,Bac Lieu,Bạc Liêu,2.879202,0.204050,"POLYGON ((105.29893 9.62913, 105.29970 9.62913...",4,0.110917,0.109984,0.015181,0.015677
...,...,...,...,...,...,...,...,...,...,...
58,Tra Vinh,Trà Vinh,1.992745,0.193366,"POLYGON ((106.25928 10.07410, 106.26083 10.073...",58,0.118356,0.112083,0.022410,0.034002
59,Tuyen Quang,Tuyên Quang,4.975078,0.513176,"POLYGON ((105.17930 22.68197, 105.18012 22.681...",59,0.131635,0.142577,0.037501,0.067558
60,Vinh Long,Vĩnh Long,2.075195,0.125808,"POLYGON ((106.02830 10.27396, 106.02865 10.272...",60,0.128645,0.111693,0.008971,0.025660
61,Vinh Phuc,Vĩnh Phúc,1.892802,0.107688,"POLYGON ((105.54746 21.57311, 105.54941 21.573...",61,0.166977,0.185589,0.071000,0.062292
62,Yen Bai,Yên Bái,5.670081,0.601690,"POLYGON ((104.61095 22.29142, 104.61187 22.291...",62,0.129739,0.146279,0.027862,0.078715

In [27]:
merge4.drop('id', axis=1, inplace=True)

In [28]:
merge4

,adm1_en,adm1_vi,shape_leng,shape_area,geometry,NO2_2022,NO2_2023,SO2_2022,SO2_2023
0,An Giang,An Giang,2.900742,0.292040,"POLYGON ((105.11716 10.95483, 105.11732 10.951...",0.121188,0.119085,0.062575,0.054900
1,Ba Ria - Vung Tau,Bà Rịa - Vũng Tàu,3.419187,0.163033,"MULTIPOLYGON (((106.55742 8.62810, 106.55723 8...",0.144766,0.134305,0.018260,0.023637
2,Bac Giang,Bắc Giang,4.514786,0.338748,"POLYGON ((106.16302 21.62403, 106.16382 21.623...",0.167881,0.183616,0.073007,0.053418
3,Bac Kan,Bắc Kạn,4.207590,0.425598,"POLYGON ((105.74147 22.73941, 105.74476 22.737...",0.131750,0.140761,0.022979,0.039087
4,Bac Lieu,Bạc Liêu,2.879202,0.204050,"POLYGON ((105.29893 9.62913, 105.29970 9.62913...",0.110917,0.109984,0.015181,0.015677
...,...,...,...,...,...,...,...,...,...
58,Tra Vinh,Trà Vinh,1.992745,0.193366,"POLYGON ((106.25928 10.07410, 106.26083 10.073...",0.118356,0.112083,0.022410,0.034002
59,Tuyen Quang,Tuyên Quang,4.975078,0.513176,"POLYGON ((105.17930 22.68197, 105.18012 22.681...",0.131635,0.142577,0.037501,0.067558
60,Vinh Long,Vĩnh Long,2.075195,0.125808,"POLYGON ((106.02830 10.27396, 106.02865 10.272...",0.128645,0.111693,0.008971,0.025660
61,Vinh Phuc,Vĩnh Phúc,1.892802,0.107688,"POLYGON ((105.54746 21.57311, 105.54941 21.573...",0.166977,0.185589,0.071000,0.062292
62,Yen Bai,Yên Bái,5.670081,0.601690,"POLYGON ((104.61095 22.29142, 104.61187 22.291...",0.129739,0.146279,0.027862,0.078715

All measures are in Dobson unit:

The Dobson unit (DU) is a unit of measurement of the amount of a trace gas in a vertical column through the Earth's atmosphere.

In [29]:
merge4.to_csv('vietnam_air_pollution.csv', index=False)